:root{
    --deviceWidth: 207px;
    --deviceHeight: 368px;
    --gapBig: 20px;
    --gapNormal: 10px;
    --gapSmall: 5px;
    --gapTiny: 2px;

    --primaryColor: white;
    --msgColor:rgb(86, 86, 218);
    --replyColor: #ccc;
    --msgWidth: 150px;
    --font: 'San Francisco', 'Helvetica Neue', 'Arial' ;
    --nameHeight: 39px;
    --inputHeight: 20px;
    --displayHeight: 270px;
    --iconSmall:15px;
    --iconBig:25px;
}

body{
    background-color: whitesmoke;
    font-family: var(--font) ;
    display: flex;
    gap:10%;
    margin-top:50px;
    justify-content: center;
    align-items: baseline;
}

.screen{
    font-size: 10px;
    position:relative;
    width: var(--deviceWidth);
    height: var(--deviceHeight);

    border: 1px solid black;
    background-color: var(--primaryColor);
    box-shadow: 0px 0px 5px black;

    /* display:flex;
    flex-direction: column; */
}

.top{
    height:var(--nameHeight);
    box-shadow: 0px 1px 5px gray;
    display:flex;
    align-items: center;
    font-weight: bold;
    margin-bottom:var(--gapSmall);
}
.top p+.topIcon{
    margin-left: auto;
}
.topPic{
    width:var(--iconBig);
    height:var(--iconBig);
    padding: 0px var(--gapNormal); 
}
.topIcon, .botIcon{
    width:var(--iconSmall);
    height:var(--iconSmall);
    padding: 0px var(--gapSmall);
}

.middle{
    padding:var(--gapNormal);
    gap:var(--gapSmall);
    height:var(--displayHeight);
    overflow-y: scroll;
}
.profilePic{
    width:var(--iconSmall);
    height:var(--iconSmall);
}
.msg, .reply{
    display:flex;
    gap:var(--gapSmall);
    width: var(--msgWidth);
}
.msg p, .msg img, .reply p, .reply img{
    margin:0px;
    margin-top: auto;
    margin-bottom: var(--gapSmall);
}
.msg p, .reply p{
    background-color: var(--replyColor);
    padding:var(--gapSmall);
    border-radius: 10px;
}
.reply, .reply p{
    margin-left: auto;
}
.reply p{
    background-color: var(--msgColor);
    color:white;
}
.msgConsecTop p{
    margin-bottom:var(--gapTiny);
}
.msgConsecTop img{
    visibility: hidden;
}

.bottom{
    position:absolute;
    bottom:0px;
    display:flex;
    align-items: center;
    height:var(--inputHeight);
    width:95%;
    padding:var(--gapSmall);
    background-color: var(--primaryColor);
}

.inputBox{
    flex:1 1 auto;
    border-radius: 30px;
    background-color: #ccc;
    display:flex;
    align-items: center;
    padding:var(--gapSmall);
    padding-left:var(--gapSmall);
}

.inputBox img{
    margin-left: auto;
    z-index: 1;
}

.inputBox ~ .topIcon{
    padding-right: 0px;
}

/* User Input Section */
.userInput{
    display: flex;
    flex-direction: column;
    gap:10px;
    color:white;
}
.optionPanel, .msgPanel{
    padding:10px;
    display:flex;
    gap:10px;
    justify-content: center;
    
}
.optionPanel select{
    padding:5px;
    border:3px dotted var(msgColor);
    border-color: var(--replyColor);
}

.inputForm{
    height:100%;
    display: flex;
    flex-direction: column;
    gap:10px;
    margin:auto;
    color:#333;
}
.inputForm textarea{
    border-radius: 10px;
    background-color: var(--msgColor);
    color:white;
    text-align: center;
    padding:5px;
    height:200px;
}
.inputForm button{
    color:white;
    font-weight: bold;
    height:30px;
    width:100%;
    border:none;
    box-shadow: 0px 0px 3px #333;
    background-color: orange;
}

/*  Authentication Panel */

.authPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    width: 250px;
}
.logo{
    text-align: center;
}
.logo img{
    width:50px;
    height:50px;
    padding:10px;
}
.head{
    padding:10px;
    background-color:var(--msgColor);
    color:white;
    width:200px;
}
.head:hover{
    cursor: pointer;
}
.body{
    padding:10px;
    background-color:var(--primaryColor);
    display:none;
}
.signinForm{
    display: flex;
    flex-direction: column;
    margin:auto;
    gap:5px;
    font-size: 15px;
}
.signinForm input, .signinForm button{
    border:none;
    height:20px;
}
